<div class="dashboard-container">
  <h2>Welcome to the Dashboard!</h2>
  <p>Login Exitoso</p>

  <button mat-raised-button color="warn" (click)="logout()">Logout</button>
  <button mat-raised-button color="primary" (click)="getJwtToken()">Obtener JWT Token</button>

  <div *ngIf="jwtToken">
    <p>Token de Autenticacion:</p>
    <textarea rows="5" readonly>{{ jwtToken }}</textarea>
  </div>
  <div *ngIf="jwtTokenObtain">
    <p>Token de Autenticacion Comprobado:</p>
    <textarea rows="5" readonly>{{ jwtTokenObtain }}</textarea>
  </div>
</div>
