.sidenav-container {
  height: 100vh; /* Establecer el alto al 100% del viewport */
}


.content {
  height: calc(100vh - 64px); /* Calcular el alto del contenido menos la altura de la barra de encabezado */
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
