<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" fixedTopGap="64">
    <div class="menu">
      <button mat-button>Inicio</button>
      <button mat-button>Revision Registros</button>
      <button mat-button>Acreditacion Manejo Forestal</button>
      <button mat-button (click)="logout()">Cerrar Sesión</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="header">
      <button mat-icon-button (click)="toggleSidenav(sidenav)">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="content">
      <!-- Contenido principal aquí -->
      <img src="assets/logoInnova.jpg" alt="Dashboard Image">
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
